@import url(https://fonts.googleapis.com/css?family=Arimo);
body {
    background-color: rgb(49, 94, 61);
    color: rgb(143, 199, 158);
    font-family: 'Arimo';
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
}

footer {
	font-style: italic;
	font-size: 90%;
}
